
body{    
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #212121;
}

/*----------------------------header---------------------------- */

.header{
    padding: 25px 215px;    
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;    
    }

    .section{
        padding: 94px 0;
    }

    .header-item{
        display: inline-block;
        margin-left: 50px;
    }    

    .header-nav{
        display: flex; 
        align-items: baseline;       
    }

    .header-nav-menu{
        list-style: none;        
    }

    .header-contact{
        list-style: none;
        margin-left: auto;
    }      

    .header-link{
        text-decoration: none;
        color: #212121;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;        
    }

    .header-link:hover{
        color: #2196F3;
    }

    .header-contact-link{
        text-decoration: none;
        color: #757575;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
    }

    .header-contact-link:hover {
    color: #2196F3;
    }

    .header-web{
        text-decoration: none;
        color: #212121;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;        
    }

    .header-web-1{
        color: #2196F3;
    }

/*------------------ main-------------------------- */


/* ----hero----- */

.main-section-hero{    
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 695px;
height: 120px;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 30px;
}

.main_btn{
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: #2196F3;
width: 216px;
height: 50px;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.06em;
color: #FFFFFF;
display: block;
margin: 0 auto;
cursor: pointer;
}


/*-------------- benefits-------------------*/

.main-benefits{
    list-style: none;
    display: flex;
}

.benefits-title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #212121;
}

.benefits-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}

.main-item:not(:last-child){
    margin-right: 30px;
}


/*------------------about-------------------------*/


.main-about-title{
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin: 0 auto;
padding-bottom: 50px;
}

.main-about-img{
    margin: 0 auto;
    list-style: none;
    display: flex;       
}

.main-about-item:not(:last-child){
    margin-right: 30px;
}


/*---------------------- team -----------------------*/


.main-section-team{
    background-color: #F5F4FA;
    padding-top: 95px;
    padding-bottom: 95px;
}

.team-title{
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin: 0 auto;
}

.main-team{
    list-style: none;
    display: flex;
    margin-top: 50px;
}

.team-box{
    background-color: #FFFFFF;
    width: 270px;
    height: 370px;
    /* margin-left: 30px; */
    text-align: center;
}

.space:not(:last-child){
    margin-right: 30px;
}

.team-name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #212121;
}

.team-position{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}

/*---------------------- footer ---------------- */

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contact{
    list-style: none;
}

.footer-map{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;        
}

.footer-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;    
}

.footer-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;    
}

.footer-studio{
    color: #FFFFFF;
}

.footer-item-web{
margin-bottom: 20px;
}

.footer-item{
margin-bottom: 10px;
}


/* ---------------------------------------------------PORTFOLIO------------------------------------------------- */
/* ---------------------------------------------------PORTFOLIO------------------------------------------------- */
/* ---------------------------------------------------PORTFOLIO------------------------------------------------- */


/*----------------- header --------------------*/

.portfolio-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
    padding: 94px 0;
}

.portfolio-header{
    padding: 25px 215px;
    border-bottom: 1px solid #ECECEC;
}

.portfolio-header-nav-menu{
     display: flex;
     align-items: baseline;
}

.portfolio-header-webstydio{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;   
    margin-right: 90px; 
}

.portfolio-header-web{
    color: #212121;
}

.portfolio-header-nav-links{
    list-style: none;  
    display: inline-flex;  
}

.portfolio-header-links{
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: #212121;
}

.portfolio-header-links:hover{
    color: #2196F3;
}

.portfolio-header-nav-contact{
    list-style: none;    
    display: inline-flex;
    margin-left: auto;
}

.portfolio-header-contact{
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: #212121;   
}

.portfolio-header-contact:hover{
    color: #2196F3;
}

.portfolio-header-item:not(:last-child){
       margin-right: 50px;
}


/*---------------- main -----------------*/

/*---------------- links----------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.portfolio-section-links{
    padding-top: 100px;
    padding-bottom: 55px;
    padding-left: 540px;
    /* padding-right: 535px; */
}

.portfolio-links{
    list-style: none;
    display: flex;
}

.portfolio-btn{
background-color: #F5F4FA;
border-radius: 4px;
border: #F5F4FA;
width: 103px;
height: 38px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.portfolio-btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}

.portfolio-links-item:not(:last-child){
        margin-right: 10px;
}

/*------------- photos--------------- */

.portfolio-photo-group{
    list-style: none;
    display: flex;
}

.portfolio-photo-link-item{
    margin-right: 30px;
    margin-bottom: 30px;
}

.photo-lim{
    margin-bottom: 0;
}

.photo-brige{
    margin-right: 0;
}

.portfolio-box{
    width: 370;
    height: 405;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.portfolio-photo-title{
margin-left: 25px;
font-weight: 700;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: #212121;
}

.portfolio-photo-item{
margin-left: 25px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}


/*-------------------------- footer -----------------------------*/

.portfolio-footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;    
}

.portfolio-footer-link{
    list-style: none;
}

.portfolio__footer__web{
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: #2196F3;
}

.portfolio-footer-stydio{
    color: #FFFFFF;
}

.portfolio-footer-links{
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.portfolio-footer-link{
    color: #FFFFFF;
}

.portfolio-footer-item:not(:last-child){
    margin-bottom: 10px;
}

.portfolio-footer-item.footerweb{
    margin-bottom: 20px;
}

