
body{    
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #212121;
}

/*----------------------------header---------------------------- */

.header{
    padding: 25px 215px;    
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;    
    }

    .section{
        padding: 90px 0;
    }

    .header-item{
        display: inline-block;
        margin-left: 50px;
    }    

    .header-nav{
        display: flex;        
    }

    .header-nav-menu{
        list-style: none;        
    }

    .header-contact{
        list-style: none;
        margin-left: auto;
    }      

    .header-link{
        text-decoration: none;
        color: #212121;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;        
    }

    .header-link:hover{
        color: #2196F3;
    }

    .header-contact-link{
        text-decoration: none;
        color: #212121;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
    }

    .header-contact-link:hover {
    color: #2196F3;
    }

    .header-web{
        text-decoration: none;
        color: #212121;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;        
    }

    .header-web-1{
        color: #2196F3;
    }

/*------------------ main-------------------------- */


/* ----hero----- */

.main-section-hero{    
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 695px;
height: 120px;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 30px;
}

.main_btn{
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: #2196F3;
width: 216px;
height: 50px;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.06em;
color: #FFFFFF;
display: block;
margin: 0 auto;
cursor: pointer;
}


/*-------------- benefits-------------------*/

.main-benefits{
    list-style: none;
    display: flex;
}

.benefits-title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #212121;
}

.benefits-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}

.main-item{
    margin-left: 30px;
}


/*------------------about-------------------------*/


.main-about-title{
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
width: 370px;
height: 40px;
margin: 0 auto;
padding-bottom: 50px;
}

.main-about-img{
    list-style: none;
    display: flex;       
}

.main-about-item{
    margin-left: 30px;
}


/*---------------------- team -----------------------*/


.main-section-team{
    background-color: #F5F4FA;
    padding-top: 95px;
    padding-bottom: 95px;
}

.team-title{
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
width: 270px;
height: 40px;
margin: 0 auto;
}

.main-team{
    list-style: none;
    display: flex;
    margin-top: 50px;
}

.team-box{
    background-color: #FFFFFF;
    width: 270px;
    height: 370px;
    margin-left: 30px;
    text-align: center;
}

.team-name{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #212121;
}

.team-position{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}

/*---------------------- footer ---------------- */

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contact{
    list-style: none;
}

.footer-map{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;        
}

.footer-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;    
}

.footer-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;    
}

.footer-studio{
    color: #FFFFFF;
}

.footer-item-web{
margin-bottom: 20px;
}

.footer-item{
margin-bottom: 10px;
}


/* ---------------------------------------------------PORTFOLIO------------------------------------------------- */
/* ---------------------------------------------------PORTFOLIO------------------------------------------------- */
/* ---------------------------------------------------PORTFOLIO------------------------------------------------- */



.portfolio__header{
    width: 1600px;        
    background-color: #FFFFFF;       
}

.portfolio__contaner{
    width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
}

.portfolio__header__nav{
    list-style: none;        
}

.portfolio__header__nav__link{
margin-right: 100px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: #212121;
text-decoration: none;
}

.header__web{
    color: #2196F3;
}

.portfolio__header_nav_menu{
    margin-left: 30px;
}

.portfolio__header__nav__links{
    display: inline;
    text-decoration: none;
    color:#757575;
    margin-right: 50px;
}

.portfolio__header__nav__li{
    display: inline;    
}

.portfolio__header__contact{
    list-style: none;
    margin-left: auto;
}

.portfolio__header__nav__contact{
    text-decoration: none;
    color:#757575;
    margin-right: 50px;
}

.portfolio__line{
width: 1600px;
height: 0px;
color: rgba(236, 236, 236, 1); 
border: 1px solid #ECECEC;
}

/* main */

.portfolio__main{
    width: 1600px;
    background-color: #FFFFFF;
}

.portfolio__main__links__box{
    width: 600px;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    margin-top: 100px;   
}

.portfolio__main__links{
    list-style: none;
}

.portfolio__main__links__li{
    display: inline;
}

.portfolio__main__button{
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
letter-spacing: 0.03em;
color: #212121;
width: 104px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;
border: #F5F4FA;
margin-right: 5px;
cursor: pointer;
}

.portfolio__main__button__link{
    background-color: rgba(33, 150, 243, 1);
    color: #FFFFFF;
}

.portfolio__group__img{
    list-style: none;
    display: flex;
    width: 1200px;    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

.portfolio__group_box{
background-color: #FFFFFF;
border: 1px solid rgba(238, 238, 238, 1);
margin: 20px;
}

.portfolio__group_text{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: #212121;
margin-left: 10px;
}

.portfolio__group_text_item{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.03em;
color: #757575;
margin-left: 10px;
}

/*------------------- footer------------------- */

.portfolio__footer{
    width: 1600px;
    height: 250px;
    background-color: #212121;
}

.portfolio__footer__contact{
    width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    margin: 0 auto;    
}

.portfolio__footer__contact__link{
    list-style: none;    
}

.portfolio__footer__links{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
} 

.portfolio__footer__link{
color: rgba(255, 255, 255, 1);
}

.portfolio__footer__contact__li{
    margin-bottom: 5px;
}

.portfolio__footer__web{
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: #2196F3;
}

.portfolio__footer__stydio{
    color: rgba(255, 255, 255, 1);
}




