body{
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #212121;
}

.header{
    width: 1600px;        
    background-color: #FFFFFF;       
}

.contaner{
    width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
}

.header__nav{
    list-style: none;        
}

.header__nav__link{
padding-right: 50px;
width: 145px;
height: 31px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}

.header__web{
    color: #2196F3;
}

.header_nav_menu{
    margin-left: 30px;
}

.header__nav__links{
    display: inline;
    text-decoration: none;
    color: #212121;
    margin-right: 30px;
}

.header__nav__li{
    display: inline;    
}

.header__contact{
    list-style: none;
    margin-left: auto;
}

.header__nav__contact{
    text-decoration: none;
    color: #212121;
    margin-right: 20px;
}

.line{
width: 1600px;
height: 0px;
color: rgba(236, 236, 236, 1); 
border: 1px solid #ECECEC;
}

/* main */

.main{
    width: 1600px;
    background-color: #FFFFFF;
}

.main__links__box{
    width: 600px;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    margin-top: 100px;   
}

.main__links{
    list-style: none;
}

.main__links__li{
    display: inline;
}

.main__button{
width: 103px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;
border: #F5F4FA;
margin-right: 5px;
}

.main__button__link{
    background-color: rgba(33, 150, 243, 1);
}

.group__img{
    list-style: none;
    display: flex;
    width: 1200px;    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}

.group_box{
background-color: #FFFFFF;
border: 1px solid rgba(238, 238, 238, 1);
margin: 20px;
}

.group_text{
    margin-left: 10px;
}

/* footer */

.footer{
    width: 1600px;
    height: 250px;
    background-color: #212121;
}

.footer__contact{
    width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    margin: 0 auto;    
}

.footer__contact__link{
    list-style: none;    
}

.footer__links{
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
} 

.footer__link{
color: rgba(255, 255, 255, 1);
}

.footer__contact__li{
    margin-bottom: 10px;
}

.footer__web{
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.footer__stydio{
    color: rgba(255, 255, 255, 1);
}
